/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_head {
	color: red;
	font-size: 40px;
	font: Arial;
	text-align: center;
}

.main_paragraphs {
	color: blue;
	font-size: 24px;
	font: Arial;
	text-align: center;	
}

.small-img {
	width: 400px;
	padding: center;
	float: left;	
}

.border-img {
	border-width: 2px;
	border-color: orange;
	border-style: solid;
	border-radius: 30%;
}

.links_head {
	color: red;
	font-size: 36px;
	text-decoration-line: none; 
}

.bg-color {
	background-color: yellow;
	
}

div {
	margin-left: 100px;
	margin-right: 100px;
	background-color: #cce0ba;
	border-width: 1px;
	border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center   
}

span.block {	
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	background-color: #cce0ba;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
	margin-right: 100px;

}

header {
	height: 50px;
	margin-left: 100px;
	margin-right: 100px;
	background-image: url("back_nav.jpg");
	display: flex;
    align-items: center;
    justify-content: center;
}

nav {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;	
}

nav a {
	padding: 20%;
	text-decoration-line: none;
	text-shadow: 20px;
}